<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- https://docs.spring.io/spring-boot/docs/current/reference/html/howto-logging.html -->
    <!-- https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-logging.html -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>